.menu {
  list-style-type: none;
  padding: 0 8px+5px;
  gap: 4px;

  & li {
    display: flex;
    align-items: center;
    gap: 3px;
    & svg {
      font-size: 16px;
    }
  }

  @include respond-to($desktop) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & li {
      & svg {
        font-size: 32px;
      }
      & p {
        display: none;
      }
    }
  }
}