.wrapper {
	width: 100dvw;
	height: 100%;

	display: flex;
	justify-content: center;
}

.main {
	max-width: min(1100px, 100%);
	padding-right: 12px;

	display: flex;
	justify-content: center;
}

.chat {
	flex: 1;
	margin-left: -1px;
}