.miniCard {
  height: 48px;
  display: grid;
  grid-template-columns: 40px auto max-content;
  padding: 4px 7px;
  width: 100%;
  max-width: 100%;
}

@mixin textOverflow {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto max-content;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align:left;

  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    &:first-child {
      display: inline;
    }
  }
}

.content {
  display: grid;
  width: 100%;
  padding-left: 7px;
}

.topContent {
  @include textOverflow;
}

.bottomContent {
  justify-content: space-between;
  @include textOverflow;
}